body {
  background-image: url("/media/bg_menu.jpg");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 4em;
  text-shadow: 1px 1px 0 black;
}

.actions {
  display: flex;
  margin: 3em 0;
}

#anleitung {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: #000A;
}

#anleitung:target {
  display: flex;
}

#anleitung>.content {
  position: relative;
  width: 960px;
  height: 640px;
  padding: 1em;
  background: #000A;
}

#anleitung h1 {
  margin: 0;
}

#anleitung .close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 1.45em;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}