.h-überschrift{
    color: white;
    padding-left: 35%;
    font-size: 300%;
    font-style: bold;
}

#hs-button{
    background-color:rgba(3, 102, 28, 0.452); /* Green */
    border: solid;
    border-color: black;
    border-radius: 10%;
    color: black;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    outline: rgb(0, 0, 0);
    position: absolute;
    top: 40%;
    left: 41%;
    z-index: 1;
    cursor: pointer;
}
#hs-button:hover {
    background-color: rgb(3, 102, 28); 
    color: white;
    transition-duration: 1s;
}
#h-score{
    color: red;
    font-size: 32px;
    position: absolute;
    right:3%;
    top: 2%;
    z-index: 200;
    outline: red;
    cursor: not-allowed;
}
#h-body{
      background-color: rgb(53, 53, 53);
      color: white;
      font-size: 200%;
      background-image: url("./Bilder/Concept_Art_Background/Main_Menu-transformed.jpeg");
      background-size: cover;
  }
#g-body{
    background-color: rgba(0, 0, 0, 0.808);
    background-image: url("./Bilder/Concept_Art_Background/Game_Background.jpeg");
    background-size: cover;
}
#a-body{
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 200%;
    background-image: url("./Bilder/Concept_Art_Background/Main_Menu-transformed.jpeg");
    background-size: cover;
}
.g-score1{
    width: 5%;
    height: 5%;
    z-index: 200;
    position: absolute;
    right: 1%;
    margin-top: 2%;
    font-size: xx-large;
    color: white;
}
.g-leben{
    width: 5%;
    height: 5;
    z-index: 200;
    position: absolute;
    right: 1%;
    margin-top: 4%;
    color: red;
    font-size: xx-large;
}
.g-background{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.g-fragen{
    width: 65%;
    height: 24%;
    z-index: 180;
    position: absolute;
    bottom: 1%;
    left: 15%;
    text-align: center;
    border: solid;
    border-color:rgb(151, 78, 9);
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 2px;

}
div.g-persons{
    width: 30%;
    height: 30%;
    margin-left:42%;
    margin-top: 10%;
    z-index: 2;
    position: absolute;
}
#ha-button{
    background-color:rgba(3, 102, 28, 0.452); /* Green */
    border: solid;
    border-color: black;
    border-radius: 10%;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    outline: rgb(0, 0, 0);
    position: absolute;
    top: 80%;
    left: 2%;
    z-index: 1;
    cursor: pointer;
}
#ha-button:hover {
    background-color: rgb(3, 102, 28); 
    color: white;
    transition-duration: 1s;
}
.g-aussagen{
    position: center;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    width: 15%;
    height: 10%;
}

#q-button{
    background-color:rgba(0, 0, 0, 0.452); /* Green */
    border: solid;
    border-color: black;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    font-size: 125%;
    outline: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
}
#l-body{
    margin:0;
    padding: 0;
    background-image: url("./Bilder/Concept_Art_Background/Game_Background.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.l-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    z-index: -1
}