body {
  background-image: url("./media/bg_game.jpg");
  background-position-y: bottom;
  font-size: 20px;
}

#visitors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#visitors>img {
  margin-left: -60px;
}

#chat {
  list-style-type: none;
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: 30vw;
  height: calc(70vh - 1em);
  padding: .5em 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: .25em;
  background: #000A;
  border-radius: 1em;
}

.bubble {
  width: 60%;
  padding: .5em;
  border-radius: 1em;
}

.bubble.in {
  align-self: flex-start;
  background: #336;
}

.bubble.out {
  align-self: flex-end;
  background: #366;
}

#questions,
#accept,
#decline {
  position: absolute;
  top: calc(75vh + 2em);
}

#questions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 8em;
  width: calc(100vw - 20em);
  padding: .5em 2em;
}

button {
  font-size: 16px;
}

button.action {
  background: black;
}

#accept {
  right: 1vw;
  margin-top: 2em;
  border-color: green;
}

#decline {
  left: 1vw;
  margin-top: 2em;
  border-color: red;
}

button:disabled {
  opacity: .5;
  pointer-events: none;
}

#score::before {
  content: "Punkte: ";
}

#game-over>.content {
  width: 20em;
  height: 5em;
  padding: 1em;
  background: rgb(161, 1, 1);
  text-align: center;
  border: solid;
  border-radius: 18px;
}
#pause>.content {
  width: 20em;
  height: 5em;
  padding: 1em;
  background: rgb(204, 156, 0);
  text-align: center;
  border: solid;
  border-radius: 18px;
}
#retrylogo{
  width: 40px;
  height: 40px;
}
#homelogo{
  width: 45px;
  height: 45px;
}
#resumelogo{
  width: 45px;
  height: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0,5em;
  text-shadow: 1px 1px 0 black;
  font-size: 2em;
}
img {
  user-select: none;
}
/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}
