body {
  background-image: url("./media/bg_menu.jpg");
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1em;
  text-shadow: 1px 1px 0 black;
  font-size: 2em;
}

#anleitung>.content {
  position: relative;
  width: 960px;
  height: 640px;
  padding: 1em;
  background: #000A;
}

#anleitung h1 {
  margin: 0;
}

#anleitung .close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 1.45em;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#clubregeln>.content {
  position: relative;
  width: 960px;
  height: 640px;
  padding: 1em;
  background: #000A;
}

#clubregeln h1 {
  margin: 0;
}

#clubregeln .close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 1.45em;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.actions {
  display: flex;
  margin: 3em 0;
}
.score{
  position: absolute;
  right: 1px;
  top: 1px;
  color: black;
}



#welten>.content {
  position: relative;
  width: 960px;
  height: 640px;
  padding: 1em;
  background: #000A;
}

#welten h1 {
  margin: 0;
}

#welten .close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 1.45em;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}